h1.title {
    font-size: 80px;
    text-align: center;

    color: rgb(212, 212, 212);

    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
}

body {
    background-image: url("img/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    font-size: 32px;
    font-family: "Audiowide", sans-serif;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* « The magic. */
}

.nav li {
    display: inline; /* « More magic. */
}

.nav a {
    display: inline-block; /* « Last bit of magic. */
    padding: 10px;
    text-decoration: none;
    color:antiquewhite;
}

.nav li:not(:last-child) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 4px dotted antiquewhite;
  }

main{
    font-family: "Audiowide", sans-serif;
    text-align: center;
    margin-top: 80px;
}

.free{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    color: gold
}

.trening{
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    color: #0e0274;
    margin-bottom: 10px;
}

.days {
    font-size: 32px;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* « The magic. */
}

.days li{
    display: inline;
}

.days li:not(:last-child) {
    margin-right: 5px;
    padding-right: 10px;
    border-right: 4px dotted black;
  }

.hour{
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #0e0274;
}

.social{
    width: 100%;
    text-align: center;
}

.fa {
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    float: left;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-right: 30px;
  }

  .fa-instagram{
    background: #3B5998;
    color: white;
  }