@media screen and (max-width: 600px) {
    h1.title {
        font-size: 40px;
    }

    .nav {
        font-size: 16px;
    }

    .nav li {
        display: block;
    }

    .nav li:not(:last-child) {
        margin-right: 5px;
        padding-right: 5px;
        border: none;
        border-bottom: 2px dotted antiquewhite;
    }

    .free {
        font-size: 50px;
    }

    .days {
        font-size: 20px;
    }

    .infoContainter{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 95%;
    }

    .capoeiraInfo{
        background-color: rgba(214, 214, 214, 0.5);
        border-radius: 4px;
        margin: auto;
        display: flex;
        width: 90%;
        height: auto;
        text-align: justify;
        padding: 20px;
    }

    .capoImg{
        width: 90%;
        height: auto;
    }

    .trainer{
        width: 90%;
        padding: 10px;
        text-align: center;
        padding: auto;
    }

    .trainerImg{
        width: 90%;
        text-align: center;
        margin: auto;
        padding: auto;
    }

    .trainerInfoText{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 90%;
        float:none;
        padding: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .articleTitle{
        width: 90%;
        padding: 20px 10px 20px 10px;
        font-size: 22px;
    }

    .container {
        width: 90%;

        background-color: rgba(214, 214, 214, 0.5);
        border-radius: 4px;
    
    }

    .contactInfo{
        text-align: center;
        display: inline-block;
    }
}